/* tamanho da fonte padrão: 16px, 100%, 1rem*/
    
:root{
    font-size: 60%;
}


h1{
    font-size:60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh; /* altura*/
}

body{
    background-color:#39A190;
    display: flex;
    align-items: center;
    justify-content: center;

}

body,input,button,textarea {
 
    font: 500 1.6rem Poppins;
    color: black;
   /* font-family: Poppins;
    font-size: 1.6rem;*/

}
#container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width:700px){
    :root{
        font-size: 62.5%;  /*todo 1rem vai ser relativo a 10px*/
    }}